/* You can add global styles to this file, and also import other style files */
@import '~izitoast/dist/css/iziToast.min.css';
@import '~dragula/dist/dragula.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';

@font-face{
    font-family: 'monofur';
    src: url('./assets/fonts/monof55.ttf');
}

body{
    font-family: 'monofur', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}